%div#heading
  %h1 Contact
  %p Get in touch!

#content
  %p Got something to say to me? Good stuff, I love email... but before you ask, no I don't need to enlarge my member or invest in an African republic.
  %p
    You can get me on
    = succeed "." do
      %a{:href => "&#x6d;&#97;&#x69;&#108;&#116;&#x6f;&#x3a;&#x77;&#x65;&#98;&#115;&#x69;&#116;&#101;&#x40;&#x64;&#x6f;&#110;&#x6f;&#116;&#114;&#x65;&#x6d;&#x6f;&#x76;&#101;&#46;&#x63;&#x6f;&#x2e;&#117;&#107;"} &#x77;&#x65;&#98;&#115;&#x69;&#116;&#101;&#x40;&#x64;&#x6f;&#110;&#x6f;&#116;&#114;&#x65;&#x6d;&#x6f;&#x76;&#101;&#46;&#x63;&#x6f;&#x2e;&#117;&#107;