%div#heading
  %h1= @title
  %p Get in touch!

#content
  %p Got something to say to me? Good stuff, I love email... but before you ask, no I don't need to enlarge my member or invest in an African republic.
  %p
    You can get me on
    = succeed "." do
      %strong= obfuscate Nesta::Configuration.author['email']