%div#heading
  %h1 Donotremove
  %p Mike Stenhouse :: UX, UI and Product Designer

#content
  %div.summary
    %h2
      %a{:href => '/about'} Hmmmm, eh?
    %p Donotremove is the interhome of Mike Stenhouse, a user experience and interface designer out of East London. That’d be me. For bread I do interface, experience and product work for Trampoline Systems; for fun I hack on various side projects.
    %p.read_more
      %a{:href => '/about'} Read more about Mike
    
  %div.summary
    %h2 
      %a{:href => '/weblog'} Weblog
    %p Takes my occasional thoughts. It doesn’t see much action, to be honest but there’s a load of content there from the old days. 
    %p.read_more
      %a{:href => '/weblog'} Read the weblog
      
  %div.summary
    %h2 
      %a{:href => '/portfolio'} Portfolio
    %p I’ve been lucky enough to Work on some great projects over the years. As a freelancer/contractor specialising in Accessibility, User Experience, CSS and XHTML I worked with a wide range of clients including the BBC, Business Link, the GLA, Virgin, Red Bull and PriceWaterhouse Coopers. These days I’m happily housed at The Trampery.
    %p.read_more
      %a{:href => '/portfolio'} See the portfolio
      
  %div.summary
    %h2 Projects
    %p Hobby Projects take a lot of my spare time. There are always half a dozen in various states of unfinishedness but a few have made it out the door: Out of Five, Twivial and BarcampBattler.
    
#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

