%div#heading
  %h1 Donotremove
  %p Mike Stenhouse :: UX, UI and Product Designer

#content
  %div.summary
    %h2
      %a{:href => '/me', :rel => 'me'} Hmmmm, eh?
    %p 
      Donotremove is the interhome of Mike Stenhouse, a user experience and 
      interface designer out of East London. That’d be me. I am currently working at
      an exciting stealth mode startup as Head of User Experience; 
      for fun I hack on various and assorted side projects.
    %p.read_more
      %a{:href => '/me'} Read more about Mike Stenhouse
    
  %div.summary
    %h2 
      %a{:href => '/weblog'} Weblog
    %p 
      Takes my occasional thoughts. It doesn’t see much action to be honest 
      but there’s a load of content there from the old days. 
    %p.read_more
      %a{:href => '/weblog'} Read the weblog
      
  %div.summary
    %h2 
      %a{:href => '/portfolio'} Portfolio
    %p 
      I am a startup specialist with an unusual combination of UX &amp; UI design, 
      hands on HTML/CSS/Javascript &amp; TDD/BDD Ruby skills &amp; Agile team management, 
      accumulated over 10 years in the industry. I've also been lucky 
      enough to speak at some of the most interesting industry conferences
      on subjects ranging from web standards to the psychology of design. 
    %p.read_more
      %a{:href => '/portfolio'} See the portfolio
  
  %div.summary
    %h2 
      %a{:href => '/projects'} Projects
    %p
      Hobby projects take a lot of my spare time. There are always half a 
      dozen in various states of unfinishedness but a few have made it out the 
      door: 
      = succeed "," do
        %a{:href => "http://oo5.whatiminto.com"} Out of Five
      = succeed "," do
        %a{:href => "http://contentwithstyle.co.uk"} Content with Style
      %a{:href => "http://frankenstory.com"} Frankenstory
      and
      = succeed "." do
        %a{:href => "http://youmightnotknow.com"} You Might Not Know
