!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    /%script{:src => "/syncotype.js", :type => "text/javascript"}

  %body{ :class => @body_class }
    #container
      #wrapper
        #header
          %ul.c
            %li.home
              %a{:href => "/"}
                %img{:src => "/attachments/donotremove-2.gif", :alt => "Home"}/
            %li
              %a{:href => "/weblog"} Weblog
            %li
              %a{:href => "/portfolio"} Portfolio
            %li
              %a{:href => "/projects"} Projects
            %li.contact
              %a{:href => "/contact"} Contact
            
        = yield
        %div.clear
        #footer
          %p
            Powered by
            %a{ :href => "http://effectif.com/nesta" } nesta
            and built by
            = succeed "." do
              %a{ :href => "http://donotremove.co.uk/me" } Mike Stenhouse

    = haml :analytics, :layout => false
