%div#heading
  %h1 Mike Stenhouse
  %p Strewn about the tubes.

#content
  
  %h2 Profiles
  
  %ul
    - ['twitter.com/mikesten', 'linkedin.com/in/mikestenhouse', 'slideshare.net/mikesten', 'github.com/mikesten', 'oo5.whatiminto.com/peeps/mikesten', 'flickr.com/mikesten', 'brightkite.com/people/mikesten', 'last.fm/user/mikesten', 'dopplr.com/traveller/mikesten'].sort.each do |link|
      %li
        %a{:href => "http://#{link}", :rel => "me"}= link

  %h2 About
  %p 
    I spent several years doing the rounds in various London agencies as a web standards and accessibility specialist, working for clients including Virgin, the BBC, PriceWaterhouse Coopers and Red Bull. In pursuit of a broader interest in how and why people use the web I settled into User Experience, helping to conceive and implement effective and usable interfaces for web applications. I am now Head of User Experience for Trampoline Systems.
  