%div#heading
  %h1 Mike Stenhouse
  %p Strewn about the tubes.

#content
  
  %h2 Profiles
  
  %ul
    - @about.each do |link|
      %li
        %a{:href => "http://#{link}", :rel => "me"}= link

  %h2 About
  %p 
    My name is Mike Stenhouse and donotremove is my little corner of the interweb.
  %p
    I spent several years doing the rounds in various London agencies as a web standards and accessibility specialist, working for clients including Virgin, the BBC, PriceWaterhouse Coopers and Red Bull. In pursuit of a broader interest in how and why people use the web I settled into User Experience, helping to conceive and implement effective and usable interfaces for web applications. I am now Head of User Experience for Trampoline Systems.
    
    
  %h2 Advertising and affiliate links
  %p
    I use my blog as a place to experiment with things I'm interested in.
    If you look in the source you'll find a little script from the rather wonderful
    = succeed "." do
      %a{:href => "http://skimlinks.com"} Skimlinks
  %p
    Skimlinks is an absolutely brilliant idea. They maintain affiliate relationships 
    with a ton of vendors around the web. If I link to one of those sites they
    add an affiliate code to that link and handle distributing any resulting
    commission. The service is incredibly simple...
  %p
    To be clear though: I don't ever write posts with the sole intention of
    making money. The content of my posts are absolutely not influenced by
    any advertisers or affiliate partnerships.
    