.breadcrumb
  %a{ :href => "/" }= @site_title

%div#heading
  %h1 Page not found
  %p 404, Awol, Gone.

#content
  %p
    Please try another page or, if you think something is wrong with our site,
    do 
    %a{:href => "mailto:#{Nesta::Configuration.author['email']}"} get in touch 
    and let us know.


#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

