%div#heading
  %h1 Projects
  %p Side projects and toys.

#content
  %ul
    %li
      %a{:href => "http://oo5.whatiminto.com"}
        Out of Five
    %li
      %a{:href => "http://contentwithstyle.co.uk"}
        Content with Style
