%div#heading
  %h1 Projects
  %p Side projects and toys.

#content
  %p 
    Most of my hobby projects are either unfinished or rubbish. The ones I can talk about, though, are:
  %ul
    %li
      %a{:href => "http://oo5.whatiminto.com"}
        Out of Five
    %li
      %a{:href => "http://contentwithstyle.co.uk"}
        Content with Style
    %li
      %a{:href => "http://www.csszengarden.com/?cssfile=052/052.css"}
        Postage Paid CSS Zen Garden
        
  %p
    More in the oven.