%div#heading
  %h1= @title
  %p Side projects and toys.

#content
  %p 
    Most of my hobby projects are either unfinished or rubbish. The ones I can talk about, though, are:
  %ul
    %li
      %a{:href => "http://youmightnotknow.com"}
        You Might Not Know
    %li
      %a{:href => "http://frankenstory.com"}
        Frankenstory
    %li
      %a{:href => "http://wikilated.donotremove.co.uk"}
        Wikilated
    %li
      %a{:href => "http://boxee.donotremove.co.uk"}
        4oD Boxee app
    %li
      %a{:href => "http://youtube-to-boxee.donotremove.co.uk"}
        YouTube feed to Boxee feed converter
    %li
      %a{:href => "http://qif-converter.donotremove.co.uk"}
        QIF Converter
    %li
      %a{:href => "http://fco-advice.donotremove.co.uk"}
        Foreign & Commonwealth Office Travel Advice map
    %li
      %a{:href => "http://www.barcamplondon.org"}
        BarcampLondon 6
    %li
      %a{:href => "http://oo5.whatiminto.com"}
        Out of Five
    %li
      %a{:href => "http://upcoming.yahoo.com/group/2997/"}
      Pub Standards
    %li
      %a{:href => "http://contentwithstyle.co.uk"}
        Content with Style
    %li
      %a{:href => "http://www.csszengarden.com/?cssfile=052/052.css"}
        Postage Paid CSS Zen Garden
        
  %p
    More in the oven.